<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Nome <input type="text" [(ngModel)]="authModel.nome" #nome> <br>
  Email <input type="text" [(ngModel)]="authModel.email" #email> <br>
  Senha <input type="password" [(ngModel)]="authModel.senha" #senha> <br>
  <button (click)="signup()">Criar</button>
</ion-content>
